@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Monteserrat, sans-serif;
}
html{
    height: 100vh;
    width: 100vw;
    
}
body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

header {
    display: flex;
    width: 100%;
    height: 104px;
    background-color: #202020fc; /* Cor no topo */
    justify-content: space-around;
    align-items: center;
    z-index: 2;
    position: static; /* Inicialmente posição normal */
    transition: background-color 0.5s ease, position 0.5s ease; /* Suavizar transição */
}

header.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.801); /* Cor ao rolar para baixo */
}

header img {
    height: 34px;
}

.menu {
    display: flex;
    gap: 33px;
}

.menu a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    transition: all 0.5s;
}

.menu a:hover {
    color: #E5AE49;
    transform: scale(1.1);
}

/* pagina de produtos */
.nav-categoria{
    background-color: #eeeeee;
    gap: 20px;
}

/* fim */

/* CSS Página de Nossas Historias */

.section-nossa-historia{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 20px;
}

.lista-nossa-historia{
    width: 1000px;
}

.timeline img {
    border: 0;
    max-width: 100%;
}

.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 1px;
    background-color: #d3e6f3;
    left: 50%;
    margin-left: -1.5px;
}

.tldate {
    display: block;
    width: 200px;
    background: #414141;
    border: 3px solid #212121;
    color: #ededed;
    margin: 0 auto;
    padding: 3px 0;
    font-weight: bold;
    text-align: center;
    box-shadow: 0 0 11px rgba(0, 0, 0, 0.35);
}

.timeline li {
    margin-bottom: 25px;
    position: relative;
}

.timeline li:before,
.timeline li:after {
    content: " ";
    display: table;
}

.timeline li:after {
    clear: both;
}

.timeline li .timeline-panel {
    width: 45%;
    float: left;
    background: #fff;
    border: 1px solid #d2e3f9;
    padding: 15px;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
}

.timeline li .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #d2e3f9;
    border-right: 0 solid #d2e3f9;
    border-bottom: 15px solid transparent;
    content: " ";
}

.timeline li .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}

.timeline li .timeline-panel.noarrow:before,
.timeline li .timeline-panel.noarrow:after {
    top: 0;
    right: 0;
    display: none;
    border: 0;
}

.timeline li.timeline-inverted .timeline-panel {
    float: right;
}

.timeline li.timeline-inverted .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline li.timeline-inverted .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline li .tl-circ {
    position: absolute;
    top: 23px;
    left: 50%;
    text-align: center;
    background: #2196F3;
    color: #fff;
    width: 25px;
    height: 25px;
    line-height: 25px;
    margin-left: -13px;
    border: 5px solid #d2e3f9;
    border-radius: 50%;
    z-index: 1;
}

.timeline .text-muted {
    padding: 5px;
    background: rgb(80, 80, 80) none repeat scroll 0% 0%;
    color: white;
    border-radius: 5px;
}

.timeline .desc {
    margin-top: 20px;
    line-height: 24px;
}

.be-pack.timeline .timeline_pic {
    padding: 0px 15px 0px 0px;
}

.be-title {
    display: inline-block;
}

.tl-content img {
    float: left;
}

.be-content p {
    margin-bottom: 5px;
}

@media (max-width: 991px) {
    .timeline li .timeline-panel {
        width: 44%;
    }
}

@media (max-width: 700px) {
    ul.timeline:before {
        left: 40px;
    }
    .tldate {
        width: 140px;
    }
    ul.timeline li .timeline-panel {
        width: -webkit-calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }
    ul.timeline li .tl-circ {
        top: 22px;
        left: 28px;
        margin-left: 0;
    }
    ul.timeline > li > .tldate {
        margin: 0;
    }
    ul.timeline > li > .timeline-panel {
        float: right;
    }
    ul.timeline > li > .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }
    ul.timeline > li > .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }
}


/* FIM */


/* CSS Pagina HOME */

.slide{
    width: 100%;
    height: 768px;
    background-image: url(../img/img-pagina-home/Slide.png);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 55px;
    box-shadow: 1px 1px 10px 1px black;
    position: relative;
}
.letra{
    width: 800px;
    height: 112px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    z-index: 1;
    
}
.letra h1{
    font-weight: 700;
    font-size: 60px;
}

.letra h2{
    font-weight: 600;
    font-size: 36px;
}
.sombra{
    background-color: rgba(0, 0, 0, 0.356);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    right: 0px;
}
.btn{
    gap: 28px;
    z-index: 1;
    
}
.btn1{
    background-color: #E5AE49;
    width: 152px;
    height: 44px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}
.btn1:hover{
    background-color: transparent;
    border: #E5AE49 solid 2px;
}
.btn2:hover{
    background-color: #E5AE49
}
.btn2{
    width: 152px;
    height: 44px;
    border-radius: 25px;
    border: #E5AE49 solid 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 200ms;
    
}
.btn div a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Ubuntu, sans-serif;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 2px;
}
.btn .btn1:hover a{
    color: #E5AE49;
}
.btn .btn2 a{
    color: #E5AE49;
    
}
.btn .btn2:hover a{
    color: white;
}
nav{
    width: 100%;
    height: 167px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 9px;
}
.exe{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 190px;
    height: 167px;
    gap: 24px;
    transition: all 0.5s;
}
.exe:hover{
    background-color: #E5AE49;
    transform: scale(1.1);
    
}
#container {
    height:600px; 
    position:relative; 
    overflow:hidden;
    margin-top: 8px;
}

.photobanner {
    position:absolute; 
    top:0px; 
    left:0px; 
    overflow:hidden; 
    white-space: nowrap;
    animation: bannermove 15s linear infinite;
    display: flex;
}
.sombra2{
    background-color: rgba(0, 0, 0, 0.596);
    position: absolute;
    width: 100%;
    height: 100%;
}

@keyframes bannermove {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-50%, 0);
    }
}
.bio{
    display: flex;
    background-image: url(../img/img-pagina-home/Image.png);
    width: 100%;
    height: 936.42px;
    margin-top: 90px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    
}
.sombra3{
    background-color: rgba(0, 0, 0, 0.884);
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    
}
.superior{
    width: 760px;
    height: 171;
    text-align: center;
    font-family: Ubuntu, sans-serif;
    font-style: italic;
    color: #fff;
    z-index: 1;
}
.perfil img{
    border-radius: 50px;
    border: #E5AE49 2px solid;
}
.perfil{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}
.perfil a{
    height: 50px;
    width: 50px;
    text-decoration: none;
    color: #686868;
}
.ceo{
    display: flex;
    flex-direction: column;
    height: 440px;
    
}
.nome{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    font-family: Monteserrat, sans-serif;
    font-style: normal;
    gap: 57px;
}
.nome h1{
    font-size: 14px;
    color: #E5AE49;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.nome h4{
    font-weight: normal;
    font-size: 14px;
    font-family: Ubuntu, sans-serif;
}
.inferior{
    z-index: 1;
    width: 975px;
    display: flex;
    justify-content: space-around;
    font-family: Monteserrat, sans-serif;
    align-items: center;
}
.status{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.status h1{
    color: #E5AE49;
    font-weight: bold;
    font-size: 50px;
}
.status p{
    color: #fff;
    font-weight: normal;
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    font-size: 13px;
}
.avaliacao{
    height: 1253px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.avaliacao p{
    color: #A6A182;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}
.avaliacao h1{
    font-weight: bold;
    text-align: center;
}
.foto{
    margin-top: 60px;
}
.pessoa{
    display: flex;
}
.painel{
    display: flex;
    flex-direction: column;
    margin-left: -210px;
    margin-top: 60px;
    gap: 27px;
    height: 457px;
    width: 100%;
}
.setas{
    display: flex;
    gap: 20px;
    justify-content: flex-end;
}
.esq{
    width: 50px;
    height: 50px;
    border: #E6E6E6 solid 1px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dir{
    width: 50px;
    height: 50px;
    border: #A6A182 solid 1px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.msg{
    background-color: #fff;
    width: 645px;
    height: 380px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.cima{
    display: flex;
    align-items: center;
    width: 100%;
    height: 150px;
    padding-left: 60px;
    gap: 20px;
}
.cima div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    height: 100%;
    padding-top: 10px;
}
.cima div h1{
    font-size: 24px;
}
.cima div p{
    font-size: 14px;
    color: #54595F;
}
.baixo{
    text-align: start;
    display: flex;
    width: 70%;
    height: 50%;
    margin-left: 60px;
    
}
.baixo p{
    line-height: 28px;
    font-size: 18px;
    color: #54595F;
    text-align: start;
}
.end{
    margin-top: 100px;
    background-color: #1F2326;
    width: 100%;
}
footer h1{
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}
footer p{
    color: #9B9B9B;
    text-align: start;
    width: 250px;
}
.form-footer, .form-menssagem {
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 2px solid white;
    width: 100%;
    text-align: start;
    padding-bottom: 10px;
    color: rgb(255, 255, 255);
}
.form-button{
    background-color: transparent;
    color: #E5AE49;
    border: none;
    border-bottom: 2px solid #E5AE49;
    width: 40%;
    text-align: start;
}
.email{
    background-color: #fff;
    border: none;
    height: 50px;
}
.button-email{
    background-color: #E5AE49;
    height: 50px;
    border: none;
}
/* FIM */

/* Pagina de carrinho */

.botao-color{
    background-color: #000 !important;
    border: 0px !important;
}

.ui-w-40 {
    width: 40px !important;
    height: auto;
}

.card{
    box-shadow: 0 1px 15px 1px rgba(52,40,104,.08);    
}

.ui-product-color {
    display: inline-block;
    overflow: hidden;
    margin: .144em;
    width: .875rem;
    height: .875rem;
    border-radius: 10rem;
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.15) inset;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.15) inset;
    vertical-align: middle;
}

.imagem-card{ 
    width: 80px;
    height: auto;

}

.mensagem{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-bottom: 50px;
    flex-direction: column;
    gap: 50px;
    background-color: black;
    opacity: 0.76;
    width: 100%;
}

.background-image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    background-image: url(/img/papel-de-parede-estampa-nuvens-1-clouds-bege.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.div-button{
    background-color: #007bff;
    border-radius: 10px;
    padding: 15px 25px 15px 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link-menssagem{
    color: white;
    text-decoration: none;
}

.link a {
    text-decoration: none;
    font-size: 29px;
}

.header-tabela{ 
    text-align: center;
}